*{
    margin: 0;
    box-sizing: border-box;
}

.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgba(20, 20, 20, 0.1);
}

form > h3{
    text-align: center;
    margin-bottom: 20px;
    font-size: x-large;
    color: rgb(0,0,0);
}
i{
    padding-left: 8px;
}
.box_input {
    background-color: white;
    margin: 5px 0;
}
.box_input  > input{
   outline: none;
   border: none;
   padding: 15px 9px;
}

button {
    border: none;
    font-weight: bolder;
    color: white;
    background-color: red;
    padding: 5px;
    width: 100%;
}

button:hover {
    cursor: pointer;
    background-color: #ff4040;
}

p {
    color: red;
    display: none;
    display: block;
    text-align: center;
    font-size: small;
}
