*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-right: 150px;
    margin-left: 150px;
    max-width: 100%;
    height: 90vh;
    background-color: rgba(20, 20, 20, 0.1);
}

form > h3{
    text-align: center;
    margin-bottom: 20px;
    font-size: x-large;
    color: rgb(26, 6, 6);
}

.box_input {
    background-color: white;
    max-width: 70vh;
    height: 30px;
    margin-bottom: 10px;
    border-radius: 10px;
}
.box_input  > input{
   margin-left: 43px;
   max-width: 70vh;
   outline: none;
   border: none;
   height: 30px;
}
.icon1{
    margin-left: 10px;
    margin-top: -23px;
    width: 80px;
    height: 90px;
}

button{
    background-color: red;
    color: white;
    width: 50vh;
    height: 30px;
    margin-bottom: 20px;
    border-radius: 10px;
    border: none;
    font-weight: bolder;
}

button:hover {
    cursor: pointer;
    background-color: #ff4040;
}

@media only screen and (max-width: 678px) {

    .container{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
        margin-right: 20px;
        margin-left: 20px;
        max-width: 90vh;
        height: 90vh;
        background-color: rgba(20, 20, 20, 0.1);
    }
    button{
        width: 40vh;
    }
    
}